{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PulseCare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<div class="full-height">
    <center>
        <table border="0">
            <tr>
                <td width="80%" style="margin-top:50px">
                    <a href="#"><font class="edoc-logo">PulseCare. </font></a>
                    <font class="edoc-logo-sub">| THE HEART CARE PROJECT</font>
                </td>
                <td width="10%">
                    <a href="{% url 'login' %}" class="non-style-link"><p class="nav-item">LOGIN</p></a>
                </td>
                <td width="10%">
                    <a href="{% url 'signup' %}" class="non-style-link"><p class="nav-item"
                                                                           style="padding-right: 10px;">
                        REGISTER</p></a>
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <p class="heading-text">Avoid Hassles & Delays.</p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <p class="sub-text2">How is health today, Sounds like not good!<br>Don't worry. We are here to help
                        you
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <center>
                        <a href="{% url 'login' %}">
                            <input type="button" value="Try PulseCare" class="try-button">
                        </a>
                    </center>
                </td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
        </table>
        <footer>
            <p class="sub-text2 footer-index">Developed and Designed by Matin Ghanbari</p>
        </footer>
    </center>
</div>
</body>
</html>