{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PulseCare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <style>
        table {
            animation: transitionIn-Y-bottom 0.5s;
        }
    </style>
</head>
<body>

<div class="full-height">
    <center>
        <table border="0">
            <tr>
                <td width="80%" style="margin-top:50px">
                    <font class="edoc-logo">PulseCare. </font>
                    <font class="edoc-logo-sub">| THE HEARTCARE PROJECT</font>
                </td>
                <td width="10%">
                    <a href="{% url 'login' %}" class="non-style-link"><p class="nav-item">LOGIN</p></a>
                </td>
                <td width="10%">
                    <a href="{% url 'signup' %}" class="non-style-link"><p class="nav-item" style="padding-right: 10px;">
                        REGISTER</p></a>
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <p class="heading-text">Avoid Hassles & Delays.</p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <p class="sub-text2">How is health today, Sounds like not good!<br>Don't worry. We are here to help you
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <center>
                        <a href="{% url 'login' %}">
                            <input type="button" value="Try PulseCare" class="login-btn btn-primary btn"
                                   style="padding-left: 25px;padding-right: 25px;padding-top: 10px;padding-bottom: 10px;">
                        </a>
                    </center>
                </td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
        </table>
        <footer>
            <p class="sub-text2 footer-hashen">Developed and Designed by MatinGhanbari</p>
        </footer>
    </center>
</div>
</body>
</html>