{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Patient</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
</head>
<body>
<div class="create-container">
    <form action="">
        <h2>Create New Patient</h2>
        <p class="text-muted">Enter the patient information and then click on the submit button.</p>
        <div class="box">
            <p class="text-muted">FirstName: </p>
            <input type="text" id="firstname" required>
        </div>
        <div class="box">
            <p class="text-muted">LastName:</p>
            <input type="text" id="lastname" required>
        </div>
        <div class="box">
            <p class="text-muted">Age:</p>
            <input type="text" id="age" required>
        </div>
        <div class="box">
            <p class="text-muted">Gender:</p>
            <select id="gender" class="input-text" required>
                <option value="" disabled selected>Select gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="box">
            <p class="text-muted">Heart ECG data:</p>
            <input type="file" id="files" class="input-text" multiple required>
        </div>
        <div class="box">
            <p id="error" class="text-muted error-text" style="display: none"></p>
        </div>
        <div class="button">
            <input type="submit" value="Create" class="btn">
            <a class="text-muted pointer-cursor" onclick="clearForm()">Clear</a>
        </div>
        <div>
            <br>
        </div>
        <a href="{% url 'patients' %}"><p>Back</p></a>
    </form>
</div>
<script src="{% static 'js/patients/create.js' %}"></script>
</body>
</html>