{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Update Patient</title>
</head>
<body style="margin: 0; margin-bottom: 2%">
<center>
    <div class="container">
        <table border="0" style="margin: 0;padding: 0;width: 60%;">
            <form id="patient-form">
                {% csrf_token %}
                <tr>
                    <td>
                        <p class="header-text">Update Patient</p>
                    </td>
                </tr>
                <div class="form-body">
                    <tr>
                        <td>
                            <p class="sub-text">Update the patient information and then click on update button</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-td">
                            <label for="firstname" class="form-label">First Name: </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-td">
                            <input type="text" id="firstname" class="input-text" placeholder="First Name"
                                   value="{{ patient.first_name }}"
                                   required>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-td">
                            <label for="lastname" class="form-label">Last Name: </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-td">
                            <input type="text" id="lastname" class="input-text" placeholder="Last Name"
                                   value="{{ patient.last_name }}"
                                   required>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-td">
                            <label for="age" class="form-label">age: </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-td">
                            <input type="text" id="age" class="input-text" placeholder="age" value="{{ patient.age }}"
                                   required>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-td">
                            <label for="gender" class="form-label">Gender:</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-td">
                            <select id="gender" class="input-text" required>
                                <option value="male" {% if patient.gender == 'male' %} selected {% endif %}>Male
                                </option>
                                <option value="female" {% if patient.gender == 'female' %} selected {% endif %}>Female
                                </option>
                                <option value="other" {% if patient.gender == 'other' %} selected {% endif %}>Other
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-td">
                            <label for="files" class="form-label">Heart ECG data:</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-td">
                            <input type="file" id="files" class="input-text" accept=".dat,.hea" multiple required>
                        </td>
                    </tr>
                    <tr>
                        <td><br></td>
                    </tr>
                    <tr>
                        <td>
                            <button class="login-btn btn-primary btn">Update</button>
                        </td>
                    </tr>
                </div>
                <tr>
                    <td>
                        <br>
                        <label class="sub-text" style="font-weight: 280;">Don't have an account&#63; </label>
                        <a href="{% url 'signup' %}" class="hover-link1 non-style-link">Signup</a>
                        <br><br><br>
                        <a href="{% url 'patients' %}" class="hover-link1 non-style-link">Back</a>
                        <br><br>
                    </td>
                </tr>
            </form>
        </table>
    </div>
</center>
<script>
    document.getElementById('patient-form').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submission

        const firstname = document.getElementById('firstname').value;
        const lastname = document.getElementById('lastname').value;
        const age = document.getElementById('age').value;
        const gender = document.getElementById('gender').value;
        const files = document.getElementById('files').files;

        const formData = new FormData();
        formData.append('firstname', firstname);
        formData.append('lastname', lastname);
        formData.append('age', age);
        formData.append('gender', gender);
        for (let i = 0; i < files.length; i++) {
            formData.append('files', files[i]);
        }

        fetch('/api/patients/{{ patient.id }}/', {
            method: 'PUT',
            headers: {
                'Authorization': `${localStorage.getItem('token')}`
            },
            body: formData,
        })
            .then(response => {
                if (response.ok) {
                    window.open('{% url 'patients' %}', '_self');
                } else {
                    alert(response.json());
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            });
    });
</script>
</body>
</html>