{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/patients.css' %}">
    <script src="{% static 'js/flowbite.min.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
</head>
<body>
<header>
    <div class="logo" title="PulseCare">
        <img src="{% static 'images/logo.png' %}" alt="">
        <h2>Pulse<span class="danger">Care</span></h2>
    </div>
    <div class="navbar">
        <a href="{% url 'dashboard' %}">
            <span class="material-icons-sharp">home</span>
            <h3>Home</h3>
        </a>

        <a href="{% url 'patients' %}" class="active">
            <span class="material-icons-sharp">people</span>
            <h3>Patients</h3>
        </a>
        <a href="#" onclick="logoutUser()">
            <span class="material-icons-sharp" onclick="">logout</span>
            <h3>Logout</h3>
        </a>
    </div>
    <div id="profile-btn">
        <span class="material-icons-sharp">person</span>
    </div>
    <div class="theme-toggler" style="display: none">
        <span class="material-icons-sharp active">light_mode</span>
        <span class="material-icons-sharp">dark_mode</span>
    </div>

</header>
<div class="container">
    <aside>
        <div class="profile">
            <div class="top">
                <div class="profile-photo">
                    <img src="{% static 'images/user-profile.jpg' %}" alt="">
                </div>
                <div class="info">
                    <p>Hi, <b>{{ user }}</b></p>
                    <small id="datetime" class="text-muted"></small>
                </div>
            </div>
            <div class="about">
                <h5>Your Patients</h5>
                <p>{{ user.patients.all|length }}</p>
                <h5>Last Login</h5>
                <p>{{ user.last_login }}</p>
            </div>
        </div>
    </aside>

    <main>
        <h1>Patient</h1>
        <div class="statistics">
            <div class="st">
                <div class="patient-img">
                    <span class="material-icons-sharp">
                        {% if patient.gender == 'male' %}
                            person_4
                        {% else %}
                            person_3
                        {% endif %}
                    </span>
                    <br>
                    <h2 class="patient-name">{{ user.patients.first.first_name }}</h2>
                    <h2 class="patient-name">{{ user.patients.first.last_name }}</h2>
                </div>
                <div class="patient-section">
                    <small class="text-muted">Gender</small>
                    <small class="text-muted black-text">{{ user.patients.first.gender|upper }}</small>
                    <small class="text-muted">Age</small>
                    <small class="text-muted black-text">{{ user.patients.first.age }}</small>
                </div>

            </div>
            <div class="st">
                <h2>Summary Table</h2>
                <br>
                <div class="summary-item">
                    <p class="black-text">Record length: </p>
                    <p style="display: inline">{{ record_length }}</p>
                </div>
                <div class="summary-item">
                    <p class="black-text">Clock frequency: </p>
                    <p style="display: inline">{{ clock_frequency }} ticks per second</p>
                </div>
                <div class="summary-item">
                    <p class="black-text">Annotator: </p>
                    <p style="display: inline">{{ all_annotations }}</p>
                </div>
                <div class="summary-item">
                    <p class="black-text">Signals: </p>
                </div>
                <div class="summary-item">
                    <div class="signals-container">
                        {% for key, value in signals.items %}
                            <h4>{{ key }}</h4>
                            <p style="display: inline">{{ value }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="summary-item">
                    <h3>Notes:
                        <small class="text-muted">
                            {% for note in notes %}
                                - {{ note }}<br>
                            {% endfor %}
                        </small>
                    </h3>
                </div>
            </div>
        </div>

        <div class="timetable" id="timetable">
            <div>
                <h2>Controls</h2>
            </div>
        </div>

        <div class="control-subjects">
            <div class="eg">
                <div class="control-item">
                    <h2>Pulse Length</h2>
                    <div>
                        <input type="range" id="html-input-range">
                    </div>
                </div>
            </div>
            <div class="eg pagination-container">
                <div class="pagination">
                    <div class="pagination_item"><small class="material-icons-sharp">arrow_back_ios</small>Prev</div>
                    <div style="font-size: 2.5rem">|</div>
                    <div class="pagination_item"><small class="material-icons-sharp">arrow_forward_ios</small>Next</div>
                </div>
            </div>
        </div>

        <div class="timetable" id="timetable">
            <div>
                <h2>Pulse</h2>
            </div>
        </div>
        <div class="subjects">
            <div id="wave-loader">
                <div class="wave-container">
                    <div class="wave-bar bg-gray-500 dark:bg-gray-400"></div>
                    <div class="wave-bar bg-gray-500 dark:bg-gray-400"></div>
                    <div class="wave-bar bg-gray-500 dark:bg-gray-400"></div>
                    <div class="wave-bar bg-gray-500 dark:bg-gray-400"></div>
                    <div class="wave-bar bg-gray-500 dark:bg-gray-400"></div>
                </div>
            </div>
            <canvas class="pulse" id="ecgChart" style="display: none;"></canvas>
        </div>


    </main>

    <div class="right">
        <div class="leaves">
            <h2>Your All Patients <p style="display: inline;font-size: 1rem">({{ user.patients.all|length }})</p></h2>
            {% for patient in user.patients.all %}
                <div class="teacher pointer-cursor">
                    <span class="material-icons-sharp">
                        {% if patient.gender == 'male' %}
                            person_4
                        {% else %}
                            person_3
                        {% endif %}
                    </span>
                    <div class="info">
                        <h3>{{ patient.first_name }}</h3>
                        <small class="text-muted">{{ patient.last_name }}</small>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>

<script src="{% static 'js/patients.js' %}"></script>
<script>
    {% if user.patients.all|length > 0 %}
        {% with first_patient=user.patients.all|first %}
            patient = {{ first_patient.id }};
        {% endwith %}
    {% else %}
        document.getElementById('no-patient').style.display = 'block';
        patient = null;
    {% endif %}

    if (patient != null) {
        startRender();
    }
</script>
</body>
</html>