{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/patients.css' %}">
    <script src="{% static 'js/flowbite.min.js' %}"></script>
</head>
<body>
<header>
    <div class="logo" title="PulseCare">
        <img src="{% static 'images/logo.png' %}" alt="">
        <h2>Pulse<span class="color-primary">Care</span></h2>
    </div>
    <div class="navbar">
        <a href="{% url 'dashboard' %}">
            <span class="material-icons-sharp">home</span>
            <h3>Home</h3>
        </a>

        <a href="{% url 'patients' %}" class="active">
            <span class="material-icons-sharp">people</span>
            <h3>Patients</h3>
        </a>
        <a href="#" onclick="logoutUser()">
            <span class="material-icons-sharp" onclick="">logout</span>
            <h3>Logout</h3>
        </a>
    </div>
    <div id="profile-btn">
        <span class="material-icons-sharp">person</span>
    </div>
    <div class="theme-toggler" style="display: none">
        <span class="material-icons-sharp active">light_mode</span>
        <span class="material-icons-sharp">dark_mode</span>
    </div>

</header>
<div class="container">
    <aside>
        <div class="profile">
            <div class="top">
                <div class="profile-photo">
                    <img src="{% static 'images/user-profile.jpg' %}" alt="">
                </div>
                <div class="info">
                    <p>Hi, <b>{{ user }}</b></p>
                    <small id="datetime" class="text-muted"></small>
                </div>
            </div>
            <div class="about">
                <h5>Your Patients</h5>
                <p>{{ user.patients.all|length }}</p>
                <h5>Last Login</h5>
                <p>{{ user.last_login }}</p>
            </div>
        </div>
    </aside>

    <main>
        <div class="patient-tab-container">
            <h1 id="patient-tab-table" class="patient-tab patient-tab-active">Table</h1>
            <h1 id="patient-tab-pulse" class="patient-tab">Pulse</h1>
        </div>
        <div id="patient-table">
            <div class="statistics">
                <div class="st">
                    <div class="patient-img">
                    <span id="cur-patient-img" class="material-icons-sharp">

                    </span>
                        <br>
                        <h2 id="cur-patient-firstname" class="patient-name"></h2>
                        <h2 id="cur-patient-lastname" class="patient-name"></h2>
                    </div>
                    <div class="patient-section">
                        <small class="text-muted">Gender</small>
                        <small id="cur-patient-gender" class="text-muted black-text"></small>
                        <small class="text-muted">Age</small>
                        <small id="cur-patient-age" class="text-muted black-text"></small>
                    </div>

                </div>
                <div class="st">
                    <h2>Summary Table</h2>
                    <br>
                    <div class="summary-item">
                        <p class="black-text">Record length: </p>
                        <p id="record_length" style="display: inline"></p>
                    </div>
                    <div class="summary-item">
                        <p class="black-text">Clock frequency: </p>
                        <p id="clock_frequency" style="display: inline"></p>
                    </div>
                    <div class="summary-item">
                        <p class="black-text">Annotator: </p>
                        <p id="all_annotations" style="display: inline"></p>
                    </div>
                    <div class="summary-item">
                        <div id="annotators" class="signals-container">

                        </div>
                    </div>
                    <div class="summary-item">
                        <p class="black-text">Signals: </p>
                    </div>
                    <div class="summary-item">
                        <div id="signals" class="signals-container">

                        </div>
                    </div>
                    <div class="summary-item">
                        <h3>Notes:
                            <small id="notes" class="text-muted">

                            </small>
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div id="patient-pulse" style="display: none">
            <div class="subjects">
                <div class="eg">
                    <div id="wave-loader">
                        <div class="wave-container">
                            <div class="wave-bar bg-gray-500 dark:bg-gray-400"></div>
                            <div class="wave-bar bg-gray-500 dark:bg-gray-400"></div>
                            <div class="wave-bar bg-gray-500 dark:bg-gray-400"></div>
                            <div class="wave-bar bg-gray-500 dark:bg-gray-400"></div>
                            <div class="wave-bar bg-gray-500 dark:bg-gray-400"></div>
                        </div>
                    </div>
                    <div class="pulse-wrapper">
                        <div id="page-loader" style="display: none">
                            <div class="wave-container">
                                <div class="wave-bar bg-gray-500 dark:bg-gray-400"></div>
                                <div class="wave-bar bg-gray-500 dark:bg-gray-400"></div>
                                <div class="wave-bar bg-gray-500 dark:bg-gray-400"></div>
                                <div class="wave-bar bg-gray-500 dark:bg-gray-400"></div>
                                <div class="wave-bar bg-gray-500 dark:bg-gray-400"></div>
                            </div>
                        </div>
                        <canvas class="" id="ecgChart" style="display: none;"></canvas>
                    </div>
                </div>
            </div>
            <div class="control-subjects">
                <div class="eg ">
                    test
                </div>
                <div class="eg">
                    <div>
                        <div class="flex-row-between">
                            <div>
                                <div id="time-h-inc" class="pagination_item">
                                    <small class="material-icons-sharp margin-0">keyboard_arrow_up</small>
                                </div>

                                <small id="time-h" class="margin-0"
                                       style="width: 100%;display: flex;justify-content: center">00</small>

                                <div id="time-h-dec" class="pagination_item">
                                    <small class="material-icons-sharp margin-0">keyboard_arrow_down</small>
                                </div>
                            </div>
                            <div>
                                <div id="time-m-inc" class="pagination_item">
                                    <small class="material-icons-sharp margin-0">keyboard_arrow_up</small>
                                </div>

                                <small id="time-m" class="margin-0"
                                       style="width: 100%;display: flex;justify-content: center">00</small>

                                <div id="time-m-dec" class="pagination_item">
                                    <small class="material-icons-sharp margin-0">keyboard_arrow_down</small>
                                </div>
                            </div>
                            <div>
                                <div id="time-s-inc" class="pagination_item">
                                    <small class="material-icons-sharp margin-0">keyboard_arrow_up</small>
                                </div>

                                <small id="time-s" class="margin-0"
                                       style="width: 100%;display: flex;justify-content: center">00</small>

                                <div id="time-s-dec" class="pagination_item">
                                    <small class="material-icons-sharp margin-0">keyboard_arrow_down</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="eg">
                    <div class="control-item">
                        <div style="width: 100%">
                            <fieldset class="range__field">
                                <input class="range" id="length" type="range" min="1" max="60" value="5">
                                <svg role="presentation" width="100%" height="10" xmlns="http://www.w3.org/2000/svg">
                                    <rect class="range__tick" x="0%" y="3" width="1" height="10"></rect>
                                    <rect class="range__tick" x="10%" y="3" width="1" height="10"></rect>
                                    <rect class="range__tick" x="20%" y="3" width="1" height="10"></rect>
                                    <rect class="range__tick" x="40%" y="3" width="1" height="10"></rect>
                                    <rect class="range__tick" x="70%" y="3" width="1" height="10"></rect>
                                    <rect class="range__tick" x="100%" y="3" width="1" height="10"></rect>
                                </svg>
                                <svg role="presentation" width="102%" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <text class="range__point" x="0%" y="14" text-anchor="start">1s</text>
                                    <text class="range__point" x="10%" y="14" text-anchor="middle">5s</text>
                                    <text class="range__point" x="20%" y="14" text-anchor="middle">10s</text>
                                    <text class="range__point" x="40%" y="14" text-anchor="middle">20s</text>
                                    <text class="range__point" x="70%" y="14" text-anchor="middle">40s</text>
                                    <text class="range__point" x="95%" y="14" text-anchor="middle">60s</text>
                                </svg>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="eg pagination-container">
                    <div class="pagination">
                        <div id="perv-frame" class="pagination_item"><small
                                class="material-icons-sharp">arrow_back_ios</small>Prev
                        </div>
                        <div style="font-size: 2.5rem">|</div>
                        <div id="next-frame" class="pagination_item"><small class="material-icons-sharp">arrow_forward_ios</small>Next
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <div class="right">
        <div class="leaves">
            <div class="your-patients-header">
                <h2>Your Patients <p style="display: inline;font-size: 1rem">({{ user.patients.all|length }})</p></h2>
                <a class="add-patient-button" href="{% url 'patient-create' %}"><h2>+</h2></a>
            </div>
            {% for patient in user.patients.all %}
                <div id="teacher-{{ patient.id }}" class="teacher pointer-cursor"
                     onclick="changePatient({{ patient.id }})">
                    <div class="patient-data-container">
                        <div class="patient-data">
                            <span class="material-icons-sharp">
                                {% if patient.gender == 'male' %}
                                    person_4
                                {% else %}
                                    person_3
                                {% endif %}
                            </span>
                            <div class="info">
                                <h3>{{ patient.first_name }}</h3>
                                <small class="text-muted">{{ patient.last_name }}</small>
                            </div>
                        </div>
                        <div class="actions-container">
                            <a class="edit-action" href="{% url 'patient-update' patient.id %}">
                                <span class="material-icons-sharp" style="font-size: 1.2rem">edit</span>
                            </a>
                            <a class="delete-action" onclick="deletePatient({{ patient.id }})">
                                <span class="material-icons-sharp" style="font-size: 1.2rem">delete</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/chartjs-plugin-annotation.min.js' %}"></script>
<script src="{% static 'js/patients.js' %}"></script>
<script>
    patient = {{ user.patients.first.id }};
    startRender();

    changePatient(patient);
</script>
</body>
</html>