.html{

}

.body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.pulse-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pulse{
    display: block;
    box-sizing: border-box;
}

canvas {
    margin: 1%;
}