.html {

}

.bg-image {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
    background-image: url("https://img.freepik.com/free-photo/cement-texture_1194-5360.jpg");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
}

.container {
}

.pulse-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 81dvh;
    max-height: 81dvh;
}

.pulse {
    display: block;
    box-sizing: border-box;
}

canvas {
    margin: 5%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/*::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/


/* Wave Spinner */
.wave-container {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    height: 2rem;
}

.wave-bar {
    width: 0.25rem;
    height: 100%;
    animation: wave 1.2s ease-in-out infinite;
}

.wave-bar:nth-child(2) {
    animation-delay: 0.1s;
}

.wave-bar:nth-child(3) {
    animation-delay: 0.2s;
}

.wave-bar:nth-child(4) {
    animation-delay: 0.3s;
}

.wave-bar:nth-child(5) {
    animation-delay: 0.4s;
}

@keyframes wave {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
    }
}

table{
    animation: transitionIn-Y-bottom 0.5s;
}

.dataset-active{
    color: var(--primarycolor);
    border-right: 7px solid var(--primarycolor);
    background-color: rgba(185, 223, 255, 0.25);
}